### Write a while loop that keeps asking the user for a number until they enter a negative number. At the end, print the sum of all non-negative numbers entered.

In [1]:
total = 0
while True:
    num = int(input("Number: "))
    if num <0:
        break
    total += num
    print(total)

34
57
111
176
199

### Using a while loop, print the first 10 Fibonacci numbers (starting from 0, 1).

In [4]:
second_last_num = 0
last_num = 1
count = 0
while count <10:
    print(second_last_num, end = ', ')
    second_last_num, last_num = last_num, second_last_num + last_num
    count += 1

0, 1, 1, 2, 3, 5, 8, 13, 21, 34,

In [5]:
# second solution
fib = [0, 1]
while len(fib) < 10:
    fib.append(fib[-1] + fib[-2])
print(fib)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### You have a starting number n = 987654. Using a while loop, count how many times you can divide n by 2 (integer division) until it becomes 0.

In [7]:
n = 987654
steps = 0
while n > 0:
    n//=2
    steps += 1
print (steps)

20

### Write a while loop that reverses an integer number, e.g. 12340 → 4321. (No string conversion.)

In [8]:
a = 12340
a = int(str(a)[::-1])
a

4321

In [ ]:
a2= 12340
reverse_a = 0
while a2 > 0:
    digits = a2 % 10 # it will give you last digit
    reverse_a = reverse_a * 10 + digits
    a2 = a2 // 10
print(reverse_a)

4321

### You have a password "python123". Let the user try up to 3 times to enter the correct password using a while loop. Print “Access granted” or “Blocked”.

In [ ]:
password = 'python123'
number_of_tries = 0
while number_of_tries < 3:
    entered_password = input('Please enter your password')
    if entered_password == password:
        print("Access granted!")
        break
    else:
        print('Incorrect password, please try again!')
    number_of_tries += 1

    if number_of_tries == 3:
        print('You are blocked! Please ccontact the customer service')

### Given the list nums = [3, 5, 2, 10, 6, 8], use a for loop to create a new list with only even numbers.

### Using a for loop, print all numbers from 1 to 100 that are divisible by both 3 and 5.

### You have a string: "advanced python practice". Count how many vowels it has using a for loop.

### Given a nested list data = [[1,2,3], [4,5], [6,7,8,9]], flatten it into a single list using a for loop.

### Print a right-angled triangle of stars of height 5:

*
**
***
****
*****

### Create a list of squares of numbers from 1 to 20 only if the square is even.

### Given words = ["apple", "banana", "kiwi", "fig", "grape"], create a list of lengths of words longer than 3 characters using list comprehension.

### Generate a list of tuples (n, n**2) for numbers 1 to 10 using list comprehension.

### You have a list temps_c = [0, 20, 37, 100]. Create a new list with Fahrenheit values using the formula F = C * 9/5 + 32 via list comprehension.

### From the string "python is awesome", create a list of unique characters (no duplicates) using list comprehension. (Order can be the order of first appearance.)

### Define a function is_prime(n) that returns True if n is prime, else False.

### Define a function count_vowels(s) that returns how many vowels are in the string.

### Define a function flatten(nested_list) that takes [[1,2],[3,4,5]] and returns [1,2,3,4,5].

### Define a function apply_discount(price, discount=0.1) that returns the price after discount. Default discount is 10%, but user may pass another value.

### Define a function longest_word(words) that takes a list of strings and returns the longest one. If there are multiple, return the first longest.

### Using map and a lambda, convert the list nums = [1, 2, 3, 4, 5] to their cubes.

### Using filter and lambda, get only strings with length ≥ 5 from the list ["car", "banana", "tea", "orange", "kiwi"].

### You have two lists: a = [1, 2, 3] and b = [4, 5, 6]. Using map and lambda, create a list that contains the sum of elements at the same index.

### Given nums = [0, 1, 2, 3, 4, 5, 6, 7], use filter + lambda to get only odd numbers, then use map + lambda to square those odds.

### You have a list of temperatures in Celsius: [36.6, 37.0, 38.2, 35.9]. Using map and lambda, convert them to Fahrenheit.

### You have a list of dictionaries:

people = [
    {"name": "Ali", "age": 17},
    {"name": "Ayse", "age": 22},
    {"name": "Mehmet", "age": 19},
]


Use filter + lambda to get only people age ≥ 18.

### Using sorted with a lambda, sort the list of tuples students = [("Ahmet", 85), ("Zeynep", 92), ("Kerem", 78)] by score descending.

### You have texts = ["", "hi", "python", "", "loop"]. Use filter + lambda to remove empty strings.

### Using map + lambda, take names = ["melik", "ayse", "mehmet"] and return them title-cased (first letter uppercase).

### Combine filter and map: From the list nums = [5, 12, 17, 24, 31, 40], first filter numbers greater than 20, then map them to strings like "Number: 24".