In [3]:
# practice of previous session
# in nums [1, 2, 3, 4, 'Tech Pro', 5, 6, 7, True]
# using while loop, only print Tech Pro

nums = [1, 2, 3, 4, 'Tech Pro', 5, 6, 7, True]
index = 0 # selecting element
while index <len(nums):
    if nums[index] == 'Tech Pro':
        print(nums[index])
        index += 1
    else:
        index += 1

Tech Pro

# dict unsing with loop

In [6]:
dict_01 = {'name': 'Vusal', 'job': 'Data scientist', 'age': 28}
dict_01.items()

dict_items([('name', 'Vusal'), ('job', 'Data scientist'), ('age', 28)])

In [7]:
# returns key
for i in dict_01:
    print(i)
    # while selecting the lement of a dict, it returns the key

name
job
age

In [8]:
# returns value
for i in dict_01.values():
    print(i)

Vusal
Data scientist
28

In [ ]:
# returns  key and value pair
for i in dict_01.items():
    print(i)

('name', 'Vusal')
('job', 'Data scientist')
('age', 28)

In [10]:

for i, j in dict_01.items():
    print(i, j)

name Vusal
job Data scientist
age 28

In [11]:
print(i)
print(j)

age
28

In [13]:
for i, j in dict_01.items():
    print(f'key: {i} and value: {j}')

key: name and value: Vusal
key: job and value: Data scientist
key: age and value: 28

In [16]:
for i, j in dict_01.items():
    print(f'key: {i:>10} and value: {j:>15}')
    # allocating 10 spaces for i (key)
    # allocating 10 spaces for j (value)
    # allignment is right

key:       name and value:           Vusal
key:        job and value:  Data scientist
key:        age and value:              28

In [17]:
for i, j in dict_01.items():
    print(f'key: {i:<10} and value: {j:<15}')
    # allocating 10 spaces for i (key)
    # allocating 10 spaces for j (value)
    # allignment is left

key: name       and value: Vusal
key: job        and value: Data scientist
key: age        and value: 28

In [18]:
for i, j in dict_01.items():
    print(f'key: {i:^10} and value: {j:^15}')
    # allocating 10 spaces for i (key)
    # allocating 10 spaces for j (value)
    # allignment is center

key:    name    and value:      Vusal
key:    job     and value: Data scientist
key:    age     and value:       28

In [20]:
# allignment on string
'fierro'.center(20)
# allocate 20 spaces, allignment in middle

'       fierro       '

In [ ]:
# how to create infinite loop with for loop
# do not run
a = ['a']
for i in a:
    print(i)
    a.append(i)

In [22]:
# in range, if you do not specify beggining point, it will begin from 0
# we specified betweening point, which is 1. it will start from 1
print(list(range(1, 51)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [23]:
# in range, if you do not specify beggining point, it will begin from 0
print(list(range(51)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [24]:
# write a for loop to calculate the sum of number between 1 and 50
# both included
total = 0
for i in range(51):
    total += i # i is the selected element which is numbers range from 1 to 50
print(total)

1275

In [33]:
# second way
total = 0
index = 0
while index <51:
    total += index
    index += 1
print(total)

1275

In [34]:
# even number
total = 0
index = 0
while index <51:
    total += index
    index += 2 # by increasing 2, we are only getting even numbers
print(total)

650

In [25]:
# write a for loop to calculate the sum of odd between 1 and 50
# both included
# first way
odd_total = 0
for i in range(51):
    if i % 2 == 1:
        odd_total += i # i is the selected element which is numbers range from 1 to 50
print(odd_total)

625

In [29]:
# second way
odd_total = 0
for i in range(1, 51, 2): # it will start from 1 and jump 2, which will chose add numbers
    odd_total += i # i is the selected element which is numbers range from 1 to 50
print(odd_total)

625

In [28]:
# write a for loop to calculate the sum of even numbers between 1 and 50
# both included
even_total = 0
for i in range(0, 51, 2): # it will start from 0 and jump 2, which will chose even numbers
    even_total += i # i is the selected element which is numbers range from 1 to 50
print(even_total)

650

In [35]:
sum([1, 2, 3, 5])

11

In [36]:
sum(range(1, 51))

1275

# zip

In [38]:
a = ['Alabama', 'Alaska', 'Arkansas']
b = ['Baku', 'Bursa', 'Berde']
tuple(zip(a, b))

(('Alabama', 'Baku'), ('Alaska', 'Bursa'), ('Arkansas', 'Berde'))

In [39]:
set(zip(b, a))

{('Baku', 'Alabama'), ('Berde', 'Arkansas'), ('Bursa', 'Alaska')}

In [40]:
dict(zip(b, a))

{'Baku': 'Alabama', 'Bursa': 'Alaska', 'Berde': 'Arkansas'}

In [48]:
name = ['Vusal', 'Dilshad', 'Royal']
age = [30, 31, 1]
occupation = {'Data Scientist', 'Psychology', 'Business Owner'}
string = 'Vusal'
print(list(zip(name, age, occupation, string)))
print(tuple(zip(name, age, occupation, string)))
print(set(zip(name, age, occupation, string)))

[('Vusal', 30, 'Psychology', 'V'), ('Dilshad', 31, 'Business Owner', 'u'), ('Royal', 1, 'Data Scientist', 's')]
(('Vusal', 30, 'Psychology', 'V'), ('Dilshad', 31, 'Business Owner', 'u'), ('Royal', 1, 'Data Scientist', 's'))
{('Dilshad', 31, 'Business Owner', 'u'), ('Royal', 1, 'Data Scientist', 's'), ('Vusal', 30, 'Psychology', 'V')}

In [46]:
dict(zip(name, age, occupation, string))
# we can only create dictionary by zipping only 2 data

ValueError: dictionary update sequence element #0 has length 4; 2 is required

In [51]:
# if the iterable data being zipper has different num of chars
# it will zipped based on smallest number of elements in either of the iterable data
name = ['Vusal', 'Dilshad']
age = [30, 31, 1, 21]
occupation = {'Data Scientist', 'QA', 'Engineer', 'Manager'}
string = 'Vusal'
print(list(zip(name, age, occupation, string)))
print(tuple(zip(name, age, occupation, string)))
print(set(zip(name, age, occupation, string)))

[('Vusal', 30, 'Manager', 'V'), ('Dilshad', 31, 'QA', 'u')]
(('Vusal', 30, 'Manager', 'V'), ('Dilshad', 31, 'QA', 'u'))
{('Vusal', 30, 'Manager', 'V'), ('Dilshad', 31, 'QA', 'u')}

In [52]:
student_1 = list(zip(name, age, occupation, string))
student_1

[('Vusal', 30, 'Manager', 'V'), ('Dilshad', 31, 'QA', 'u')]

In [56]:
for a, b, c, d in student_1:
    print(f'name: {a:<8}, age: {b:<2}, occ: {c:<7}')

name: Vusal   , age: 30, occ: Manager
name: Dilshad , age: 31, occ: QA

In [58]:
q = ['Ohio', 'New York', 'Georgia']
w = [1, 2, 3]
states = list(zip(q, w))
states

[('Ohio', 1), ('New York', 2), ('Georgia', 3)]

In [59]:
for q, w in states:
    print(f'State: {q}, number: {w}')

State: Ohio, number: 1
State: New York, number: 2
State: Georgia, number: 3

## enumerate
- assigns a number to element of iterable data

In [60]:
name = ['Vusal', 'mehmet', 'ahmet']
name

['Vusal', 'mehmet', 'ahmet']

In [61]:
list(enumerate(name))
# just like a range and zip sunction, we have to use list, tuple, dict, or set function
# by default, it numerates from 0

[(0, 'Vusal'), (1, 'mehmet'), (2, 'ahmet')]

In [62]:
print(list(enumerate(name)))
print(tuple(enumerate(name)))
print(dict(enumerate(name)))
print(set(enumerate(name)))

[(0, 'Vusal'), (1, 'mehmet'), (2, 'ahmet')]
((0, 'Vusal'), (1, 'mehmet'), (2, 'ahmet'))
{0: 'Vusal', 1: 'mehmet', 2: 'ahmet'}
{(1, 'mehmet'), (2, 'ahmet'), (0, 'Vusal')}

In [63]:
# ask user to provide a numeric data, preferably int
# write program that sums each one of the digit. 
# make sure to solve it as string and as element of list
# for list, first add the digits to a list called num_list, then add them

data = input('Please provide a numeric data')
total_01 = 0
for i in str(data):
    total_01 += int(i)
print(total_01)

6

In [64]:
data = input('Please provide a numeric data')
total_01 = 0
if data.isnumeric():
    for i in str(data):
        total_01 += int(i)
    print(f'sum of the digits of {data} is {total_01}')
else:
    print('please provider a numerical as an input')

sum of the digits of 432 is 9

In [65]:
# solve it with while loop
data = input('Please provide a numeric data')
i = 0
total_01 = 0
if data.isnumeric():
    while i<len(data):
        total_01 += int(data[i])
        i += 1
    print(f'sum of the digits of {data} is {total_01}')
else:
    print('please provider a numerical as an input')

sum of the digits of 234 is 9

In [69]:
# list solution
data = input('Please provide a numeric data')
num_list= []
for i in str(data):
    num_list.append(int(i))
    total = sum(num_list)
    # as sum function is able to add elements of a list with one another,
    # we dont need to devlare a zero valued variable called total
print(f'sum of the digits of {data} is {total}')
print(num_list)

sum of the digits of 1234 is 10
[1, 2, 3, 4]

In [74]:
# list solution with while loop
data = input('Please provide a numeric data')
num_list = []
i = 0
while i < len(data):
    num_list.append(int(data[i]))
    total_02 = sum(num_list)
    i += 1
print(f'sum of the digits of {data} is {total_02}')

sum of the digits of 324 is 9

#### homework

In [77]:
# ask the user to provide a number between 1 and 10
# create a multiplication table for it

user_data = int(input('Please provide a number to get a miltiplication table'))

for i in range(11):
    if 0 < user_data < 11:
        calculation = i * user_data
        print(f'{i} * {user_data} = {calculation}')
    else:
        print(f'Please provide a numeric value between 1-10')

0 * 6 = 0
1 * 6 = 6
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30
6 * 6 = 36
7 * 6 = 42
8 * 6 = 48
9 * 6 = 54
10 * 6 = 60