In [1]:
# homework
num = int(input("Please enter a number between 1 and 10: "))
for i in range(11):
    print(f"{num} x {i} = {num * i}")

5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# list comprehension

- simple way of preforming for loops to speed up the operations
- performs the append operation in the background

- simple syntax: [operation for i in interable_data]
- if syntax: [i for i in iterable_Data_if_condition]
- if else syntax: [operation_if if_cont else for i in iterable_data]
- nested loop: [operation for i in interable_data_1 for j in iterable_data_2]

In [2]:
# using for loops, add the square of the following elements of the following list in another list
nums = [1, 4, 6, 2, 9, 8]
num_squared = []
for i in nums:
    num_squared.append(i ** 2)
print(num_squared)

[1, 16, 36, 4, 81, 64]

In [4]:
# list comprehension
[i ** 2 for i in nums]

[1, 16, 36, 4, 81, 64]

In [5]:
# assign in to variable
num_sq = [i ** 2 for i in nums]
num_sq

[1, 16, 36, 4, 81, 64]

In [6]:
# capitalize (upper) each string element of the following list
names = ['rovshen', 'vusal', 'fierro']
[i.upper() for i in names]

['ROVSHEN', 'VUSAL', 'FIERRO']

In [8]:
# you cannot use print function
# as print function just providers an output and does not return element
# we dont have any element in the new list we created
[print(i) for i in names]

rovshen
vusal
fierro

[None, None, None]

In [14]:
# write a program to add the odd elements of the following list in another epmty list
numbers = [12, 32, 45, 2, 9, 8, 63, 79, 88]
odd = []

for i in numbers:
    if i % 2 == 1:
        odd.append(i)
print(odd)

[45, 9, 63, 79]

In [15]:
# if i % 2 will also gives odd list because i % 2 == 1 is truthy value and for will continue if the value is truthy
# for even number i % 2 will result == 0, it falthy value so loop will fail to add even numbers
numbers = [12, 32, 45, 2, 9, 8, 63, 79, 88]
odd = []

for i in numbers:
    if i % 2:
        odd.append(i)
print(odd)

[45, 9, 63, 79]

In [13]:
# write suing list comprehension
[i for i in numbers if i % 2 ==1]
# we dont need oppen operation since list comprehension automatically performs append operation in the background
# we dont need to create an empty list

[45, 9, 63, 79]

In [17]:
# using the list comprehention, remove unccessary characters from the following string
list_1 = ['.... tech pro', '... educatio.tion...']
clean_strings = []
for i in list_1:
    clean_strings.append(i.replace('.', '')) # replacing '.' with empty string ''
clean_strings

[' tech pro', ' educatiotion']

In [19]:
# write suing list comprehension
[i.replace('.', '') for i in list_1]

[' tech pro', ' educatiotion']

In [21]:
# reomving char with strip
list_1 = ['.... tech pro', '... educatio.tion...']
clean_strings = []
for i in list_1:
    clean_strings.append(i.strip('. ')) # replacing '.' with empty string ''
clean_strings

['tech pro', 'educatio.tion']

In [22]:
isinstance('aaa', str)
# it tells you whether given data or object matches the data type of the function you write
# is following data str or not

True

In [23]:
isinstance(['aaa'], list)

True

In [24]:
# add intiger elements of the following list into another one
list_2 = [232, 'sdfs', True, 123243213, 'vusal', 'fierro', 0]
int_list = []
for i in list_2:
    if isinstance(i, int):
        int_list.append(i)
print(int_list)

[232, True, 123243213, 0]

In [28]:
[i for i in int_list if isinstance(i, int)]

[232, True, 123243213, 0]

In [30]:
# write a program to sqaure the odd eleemnts and keep the even onces
# add them in empty list
list_3 = [3, 4, 65, 78, 73, 97, 66, 10, 2, 5]
empty_llist = []
for i in list_3:
    if 1 % 2:
        empty_llist.append(i ** 2)
    else:
        empty_llist.append(i)
print(empty_llist)

[9, 16, 4225, 6084, 5329, 9409, 4356, 100, 4, 25]

In [31]:
# if else
[i ** 2 if i % 2 else i for i in list_3]

[9, 4, 4225, 78, 5329, 9409, 66, 10, 2, 25]

In [33]:
# if the length of following list is more than 4, it should upper it
# otherwise capitilize it
names_1 = ['vusal', 'fierro', 'can', 'nazim', 'vus']
result_list = []
for i in names_1:
    if len(i) >= 5:
        result_list.append(i.upper())
    else:
        result_list.append(i.capitalize())
print(result_list)

['VUSAL', 'FIERRO', 'Can', 'NAZIM', 'Vus']

In [34]:
[i.upper() if len(i) >= 5 else i.capitalize() for i in names_1]

['VUSAL', 'FIERRO', 'Can', 'NAZIM', 'Vus']

In [35]:
# nested loops and nested loops inside list comprehension
# write a program using nested loops
# check assignment related to two subjects of three student
student = ['fierro', 'vusal', 'royal']
subject = ['math', 'science']
for i in student:
    for j in subject:
        print(f'homework of {i} - {j} checked')

homework of fierro - math checked
homework of fierro - science checked
homework of vusal - math checked
homework of vusal - science checked
homework of royal - math checked
homework of royal - science checked

In [36]:
# nested loop: [operation for i in interable_data_1 for j in iterable_data_2]
[f'homework {i} - {j} checked' for i in student for j in subject]

['homework fierro - math checked',
 'homework fierro - science checked',
 'homework vusal - math checked',
 'homework vusal - science checked',
 'homework royal - math checked',
 'homework royal - science checked']

In [41]:
# create a code to find if number is armstrong number
user_number = input('Please provide a number to find if the number is armstrong number')
digit = len(user_number)
total = 0

for i in user_number:
    total += int(i) ** digit # we want it to complete first, otherwise if condition will repeate 3 time instead of 1
if total == int(user_number):
        print(f'{user_number} is an armstrong number')
else:
        print(f'{user_number} is NOT an armstrong number')

153 is an armstrong number

In [45]:
# write it with list comprehension
user_number = input('Please provide a number to find if the number is armstrong number')
digit = len(user_number)
total = 0
total += sum([int(i) ** digit for i in user_number])
if total == int(user_number):
        print(f'{user_number} is an armstrong number')
else:
        print(f'{user_number} is NOT an armstrong number')

123 is NOT an armstrong number