# filter()

- has 2 parameter: function or None and iterable data

In [1]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function, iterable, /)
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(self, /)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [ ]:
filter(None, 'hello')
# filter does not return the reult itself

In [ ]:
# need to use inside of list or tuple or set (iterable data)
tuple(filter(None, 'hello'))
# it will iterate the data, because we did not gave function ( we gave None), it will iterate the data

('h', 'e', 'l', 'l', 'o')

In [ ]:
tuple(filter(None, [1, 2, 0, 0.0, True, False, 'dskjfdk', '']))
# because we did not give function, it will return Truthy values

(1, 2, True, 'dskjfdk')

In [6]:
def odd_finder(x):
    if x % 2 == 1:
        return True
    else:
        return False

In [8]:
odd_finder(3)

True

In [9]:
odd_finder(2)

False

In [ ]:
odd_finder([1, 2, 3])
# you cannot apply to list of number
# when the function was defined, it saied we neeed to apply only 1 element

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [ ]:
tuple(filter(odd_finder, [1, 2, 3, 4, 5, 6, 7, 8]))
# based on the function, it will return the truthy values

(1, 3, 5, 7)

In [14]:
set(filter(odd_finder, [1, 2, 3, 4, 5, 6, 7, 8]))

{1, 3, 5, 7}

In [15]:
tuple(filter(odd_finder, {1, 2, 3, 4, 5, 6, 7, 8}))

(1, 3, 5, 7)

In [20]:
def odd_finder_2(x):
    if x % 2 == 1:
        return 1
    else:
        return 0

In [21]:
tuple(filter(odd_finder_2, [1, 2, 3, 4, 5, 6, 7, 8]))

(1, 3, 5, 7)

In [23]:
def odd_finder_3(x):
    if x % 2 == 1:
        return "sdfsdg"
    else:
        return ''

In [25]:
tuple(filter(odd_finder_3, [1, 2, 3, 4, 5, 6, 7, 8]))
# filter function does not look at true and false, 
# it checks what cunditions the function results truthy or falsy
# result does not necesserily have to be True or False it can work with any Truthy and falsy data

(1, 3, 5, 7)

In [26]:
def odd_finder_4(x):
    if x % 2 == 1:
        return -90.87
    else:
        return None

In [28]:
tuple(filter(odd_finder_4, [1, 2, 3, 4, 5, 6, 7, 8]))

(1, 3, 5, 7)

In [ ]:

# although we wrote the function inside a list, it will not return a result, we need functions like list or tuple
[filter(odd_finder_4, [1, 2, 3, 4, 5, 6, 7, 8])]

In [ ]:
tuple(filter(len, ('filter', 'helo', '', [], 'bye', [1, 2, 3])))
# we will still get the Truthy values

('filter', 'helo', 'bye', [1, 2, 3])

In [ ]:
# function that finds iterable data with 5 elements
def len_5(x):
    if len(x) == 5:
        return True
    else:
        False

In [37]:
len_5('hello')

True

In [38]:
len_5([1, 2, 3, 4, 5])

True

In [40]:
names = ['Vusal', 'Dila', 'Royal', 'aefa', 'wedafc']

In [42]:
len_5(names)
# it performs the 5 element finding on the entire list
# it does not loop at the each element

True

In [ ]:
set(filter(len_5, names))
# use filter function, we can look up each element inside the list and return if element has more than 5 chars

{'Royal', 'Vusal'}

In [118]:
# define a function that find if the number is a prime number
def prime_finder(x):
    for i in range (2, x): # we are excluding 1 and exlucding number itself
        if x % i == 0:
            return False
            break
    return True

In [50]:
prime_finder(3)

True

In [119]:
list(filter(prime_finder, range(3, 100)))

[3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

# lambda()
 - simple way of defining a temporary function, specially one use
- syntex: (lambda parameters/variables:operation)(arguments/values)

In [54]:
# define a function using def and lambda technuqies to calculate sum of squares of two values

def sum_squares(x, y):
    return x**2 + y**2

In [55]:
sum_squares(3, 4)

25

In [57]:
help(sum_squares)
# it takes up space

Help on function sum_squares in module __main__:

sum_squares(x, y)

In [59]:
# if you dont want to take up spce, use lambda
(lambda x, y: x**2 + y**2)(3, 4)

25

In [60]:
(lambda x, y: x**2 + y**2)(21, 7)

490

In [61]:
(lambda x, y: x**2 + y**2)(True, False)
# True = 1 and False = 0

1

In [63]:
(lambda x, y: x**2 + y**2)(21)
# while defining lambda function, we provided 2 parameters or variables

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [ ]:
# checking if the number of element of given string equals to 5
(lambda x: len(x)==5)('techpro')

False

In [66]:
(lambda x: len(x)==5)('vusal')

True

In [ ]:
(lambda x: len(x)==5)((1, 2, 3, 4, 5))
# inside the tuple, we have 5 elements

True

In [69]:
names = ['Vusal', 'Dila', 'Royal', 'Gasimov']

In [ ]:
# it will check if the number of elements inside entire 'names' list equals to 5
(lambda x: len(x)==5)(names)

False

In [ ]:
# check if number of EACH ellement inside  'names' list equals to 5
# use filter function
(filter((lambda x: len(x)==5), names)) # instead of pre defined function, we use lambda
list(filter((lambda x: len(x)==5), names))

['Vusal', 'Royal']

In [75]:
# define a lambda function that reverses a given iterable data
# syntex: (lambda parameters/variables:operation)(arguments/values)
(lambda x: x[::-1])('Vusal')

'lasuV'

In [76]:
(lambda x: x[::-1])([1, 2, 3, 4])

[4, 3, 2, 1]

In [79]:
# write a lambda function that checks if given iterable data is palindrome
(lambda x: x == x[::-1])('nalan')
# x == x[::1] means data and reverse of the data is equal

True

In [80]:
(lambda x: x == x[::-1])('12321')

True

In [81]:
(lambda x: x == x[::-1])(12321)
# x[::-1] is slicing operation, it can only be applied to iterable data

TypeError: 'int' object is not subscriptable

In [82]:
(lambda x: x == x[::-1])([1, 2, 3, 2, 1])

True

In [83]:
names = ['eve', 'adam', 'nalan', 'Vusal']

In [84]:
# following is checking if entire list is palindrom
(lambda x: x == x[::-1])(names)

False

In [85]:
# we need to apply filter function if we want to check each element of the list
list(filter(lambda x: x == x[::-1], names))

['eve', 'nalan']

In [ ]:
# define a malbda function that squalres the even number and dcoubles the odd number
# (lambda var/par: result_if if_condition else result_else)

(lambda x: x**2 if x%2==0 else x*2)(12)
# 12 is even, it sqared the number

144

In [87]:
(lambda x: x**2 if x%2==0 else x*2)(9)

18

In [89]:
number = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(filter((lambda x: x**2 if x%2==0 else x*2), number))
# while aplying lambda function that has if and else part using filter on an iterable data like a ist of numbers,
# filter only checks the conditions, not the result

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# return the number that are even number by filtering number list
list(filter((lambda x: x%2==0), number))

[2, 4, 6, 8, 10]

In [ ]:
# return the number that are odd number by filtering number list
list(filter((lambda x: x%2==1), number))

[1, 3, 5, 7, 9]

In [96]:
# filter function does not allow transformation, it only filters the truthy elements
(lambda x: [i ** 2 if i%2==0 else i*2 for i in x])(number)

[2, 4, 6, 16, 10, 36, 14, 64, 18, 100]

In [ ]:
# define a lambda function that checks if a number is positive and even
(lambda x: x > 0 and x%2==0)(2)
# first criteria is that it must be positive number
# second critera that is has to be even

True

In [98]:
(lambda x: x > 0 and x%2==0)(-4)

False

In [99]:
# define a lambda function that checks if a number is positive por even
(lambda x: x > 0 or x%2==0)(1)
# first criteria is that it must be positive number
# second critera that is has to be even
# if wither one if correct, it will return true

True

In [100]:
(lambda x: x > 0 or x%2==0)(18)

True

In [101]:
(lambda x: x > 0 or x%2==0)(-2)

True

# map()

In [102]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(function, iterable, /, *iterables)
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(self, /)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [106]:
def square (x):
    return x**2

In [ ]:
square(2)
# data transformation
# making calculation and computation

4

In [108]:
number_2 = [0, 12, 43, 25, 20, 17]

In [ ]:
list(filter(sqaure, number_2))
# filter only return the truthy data
# it does not perform transformation
# 0**2 return 0 which is Falsy value so filter does not return

[12, 43, 25, 20, 17]

In [ ]:
list(map(sqaure, number_2))
# map function does the valculation instead of returning Truthy values

[0, 144, 1849, 625, 400, 289]

In [ ]:
list(filter(lambda x: x**2 if x%2==0 else x*2, number_2))
# filter the element with truthy results

[12, 43, 25, 20, 17]

In [ ]:
list(map(lambda x: x**2 if x%2==0 else x*2, number_2))
# applyinh square function and calculating result

[0, 144, 86, 50, 400, 34]

In [113]:
name_3 = ['techpro', '', 'data', 'science', 'vusal']

In [114]:
len(name_3[0])

7

In [ ]:
# find the len of each element
list(filter(len, name_3))
# when you apply len function, it will return truthy values
# len of empty string '' is 0 so it wont return
#

['techpro', 'data', 'science', 'vusal']

In [ ]:
# find the len of each element
list(map(len, name_3))
# using map function, it will return length of each element inside of list

[7, 0, 4, 7, 5]