In [58]:
print('techpro')

techpro

In [59]:
print(*'techpro')
# whenever python sees * before an iterable and or a collection data, 
# it performs the operation of the function before it on the elements rather than entire data

t e c h p r o

In [60]:
print([1, 2, 3, 4])

[1, 2, 3, 4]

In [61]:
print(*[1, 2, 3, 4])

1 2 3 4

In [62]:
#a function that returns the iterable data in reverse order
# by adding *, we can now add as many data as we want
# python this that you will add tupple when * added
def reverse_iterbale(*iterable_data):
    return iterable_data[::-1]

In [63]:
reverse_iterbale('techpro')

('techpro',)

In [64]:
reverse_iterbale('hello', 'vusal')
# python this that you will add tupple when * added

('vusal', 'hello')

In [65]:
('hello', 'vusal', 'fierro')[::-1]

('fierro', 'vusal', 'hello')

In [66]:
# if you want to verse the element, you need to provide *
reverse_iterbale(*'techpro')

('o', 'r', 'p', 'h', 'c', 'e', 't')

In [67]:
reverse_iterbale(*'hello', *'vusal')

('l', 'a', 's', 'u', 'v', 'o', 'l', 'l', 'e', 'h')

In [68]:
def reverse_iterbale_2(*iterable_data):
    reverse_list = []
    for i in iterable_data:
        reverse_list.append(i[::-1])
    return reverse_list

In [69]:
reverse_iterbale_2('Vusal', 'Fir', 'Dila')

['lasuV', 'riF', 'aliD']

In [ ]:
reverse_iterbale_2(name1 = 'tech', name2 = 'pro', name3 = 'ed')
# it does not expect key and value

TypeError: reverse_iterbale_2() got an unexpected keyword argument 'name1'

# **kwargs

- argument with key word
- input for the function must be keyword arguments

In [70]:
dict_1 = {'name1': 'Vusal', 'name2': 'Dila', 'name3': 'Royal'}
dict_1

{'name1': 'Vusal', 'name2': 'Dila', 'name3': 'Royal'}

In [71]:
for i in dict_1:
    print (i)

# whie iterating on a dictcionary using for loops, it will only select the key

name1
name2
name3

In [72]:
dict_1.items()

dict_items([('name1', 'Vusal'), ('name2', 'Dila'), ('name3', 'Royal')])

In [73]:
for i in dict_1.items():
    print (i)

('name1', 'Vusal')
('name2', 'Dila')
('name3', 'Royal')

In [74]:
for i, j in dict_1.items():
    print (i, j)

name1 Vusal
name2 Dila
name3 Royal

In [75]:
dict('name1', 'name3')
# dic function does not expect any positional arguments
# inpur for dict function has to be keyword arguments

TypeError: dict expected at most 1 argument, got 2

In [ ]:
dict(name1 = 'name1')

In [ ]:
dict_1(name1 = 'tech', name2 = 'pro', name3 = 'ed')
dict_2 = {'name1': 'tech', 'name2': 'pro', 'name3': 'ed'}
dict_1

TypeError: 'dict' object is not callable

In [ ]:
############ adddd herre

In [ ]:
def kwfunction(**kw):
    for i in kw:
        print(i)

In [ ]:
kwfunction(name1 = 'tech', name2 = 'pro', name3 = 'ed')

name1
name2
name3

In [ ]:
def kwfunction_2(**kw):
    for i, j in kw.items():
        print(i, j)

In [ ]:
kwfunction_2(name1 = 'tech', name2 = 'pro', name3 = 'ed')

name1 tech
name2 pro
name3 ed

In [76]:
kwfunction_2('tech', 'pro', 'ed')

TypeError: kwfunction_2() takes 0 positional arguments but 3 were given

In [81]:
# define a function with **kwargs that takes the input in keyword arguments format
# and add keys or keywords of these inputs to keyword list
# and arguments or values of these inputs to values or arguments list

def keyword_values(**dictionary):
    key_list = []
    val_list = []
    for key, val in dictionary.items():
        key_list.append(key)
        val_list.append(val)
    return f'key list: {key_list} and value list: {val_list}'

In [82]:
keyword_values(name1 = 'tech', name2 = 'pro', name3 = 'ed')

"key list: ['name1', 'name2', 'name3'] and value list: ['tech', 'pro', 'ed']"

In [85]:
def keys (**dictionary):
    key_list = []
    for keys in dictionary.keys():
        key_list.append(keys)
    return key_list

In [86]:
keys(name1 = 'tech', name2 = 'pro', name3 = 'ed')

['name1', 'name2', 'name3']

In [89]:
def value (**dictionary):
    value_list = []
    for value in dictionary.values():
        value_list.append(value)
    return value_list

In [90]:
value(name1 = 'tech', name2 = 'pro', name3 = 'ed')

['tech', 'pro', 'ed']

In [91]:
# define a function using **kwargs that writes the argument or the value in reverse order and give it in list
# argument = value
# parameter = variable = key = keyword
def reverse_str_kw(**string):
    reverse_values = []
    for key, val in string.items():
        reverse_values.append(val[::-1])
    return reverse_values

In [92]:
reverse_str_kw(name = 'Vusal', job = 'Data Scientist', age = "unknown")

['lasuV', 'tsitneicS ataD', 'nwonknu']

In [ ]:
# define a function with **kwargs where the values or inputs are listsor tupples or other collection data types
# and function calculates the length of each one of the collection data types which are given as arguments or values

def collection_len(**kwargs):
    for i in kwargs.values():
        print(f'lenth of {i} is {len(i)}')
        # return is only performs once
        # if you use return instead of print, it will only run once and stop it
        # return is used outside of loop
        # return gives final result

In [ ]:
collection_len(one = [1, 2, 3, 4, 5], two = ('hi', 'hello'), three = {1, True, 0.0, 'bye'})
# because "three"  is a set, it will select the unique element

lenth of [1, 2, 3, 4, 5] is 5
lenth of ('hi', 'hello') is 2
lenth of {0.0, 1, 'bye'} is 3

In [100]:
# second way
def collection_len_2(**kwargs):
    return [f'the lenth of {i} is {len(i)}' for i in kwargs.values()]

In [ ]:
collection_len(one = [1, 2, 3, 4, 5], two = ('hi', 'hello'), three = {1, True, 0.0, 'bye'})

lenth of [1, 2, 3, 4, 5] is 5
lenth of ('hi', 'hello') is 2
lenth of {0.0, 1, 'bye'} is 3