In [13]:
# define a function that checks whether a given number is armstrong number
# armstrong number is when square root of each number is equal to a number itself

def armstrong (number):
    '''This function checks whether a given number is armstrong or not'''
    total = 0
    number = str(number)
    digit = len(number)
    
    for i in number:
        total += int(i) ** digit # as we are itering for loops, every time the loops runs, we have 1 elements
    if total == int(number):
        return f'{number} is an armstrong number'
    else:
        return f'{number} is NOT an armstrong number'

In [10]:
armstrong(153)

'153 is an armstrong number'

In [19]:
# define a function that checks whether a given number is armstrong number
# armstrong number is when square root of each number is equal to a number itself

def armstrong_1 (numbe_1):
    '''This function checks whether a given number is armstrong or not'''
    numbe_1 = str(numbe_1)
    digit = len(numbe_1)

    total = sum([int(i) ** digit for i in numbe_1 ])
    
    if total == int(numbe_1):
        return f'{numbe_1} is an armstrong number'
    else:
        return f'{numbe_1} is NOT an armstrong number'

In [20]:
armstrong_1(153)

'153 is an armstrong number'

In [23]:
# using for loops find all armstrong numbers between 1 and 1001






def armstrong_3 ():
    '''This function checks whether a given number is armstrong or not'''
    number = range(1, 1001)
    digit = len(number)
    total = 0
    
    for i in number:
        total += int(i) ** digit # as we are itering for loops, every time the loops runs, we have 1 elements
    if total == int(number):
        return f'{number} is an armstrong number'
    else:
        return f'{number} is NOT an armstrong number'

In [24]:
armstrong_3()

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'range'

In [ ]:
def armstrong_num2(num):
    # num is given as parameter to this function, meaning this function will expect
    # an input or value which will be assigned to variable or parameter num
    '''This function checks whether a given number is armstrong or not?'''
    num = str(num)
    digits = len(num)
    if int(num) == sum([int(i) ** digits for i in num]):
        return int(num)

In [ ]:
# using for loops find all armstrong numbers between 1 and 1001
arm_num = []
for i in range(1, 1001):
    if type(armstrong_num2(i)) == int:
        print(i)

1
2
3
4
5
6
7
8
9
153
370
371
407

# Positional and Keywprd arguments in python functions

In [33]:
def name(firs_name, last_name):
    return f'My name is {firs_name} {last_name}'

In [34]:
name('Vusal', 'Gasimov')

'My name is Vusal Gasimov'

In [35]:
name(last_name='Gasimov', firs_name='Vusal')

'My name is Vusal Gasimov'

In [36]:
# you cannot add 1 value of function expects 2 values
name('Vusal')

TypeError: name() missing 1 required positional argument: 'last_name'

In [40]:
# you can provide a default value for a parameter
def name_2 (first_name, last_name='Gasimov'):
    return f'My name is {first_name} {last_name}'

In [ ]:
# you can provide new value for last_name
name_2('Vusal', 'Royal')

'My name is Vusal Royal'

In [ ]:
# you do not need to provide for last_name
name_2('Vusal')

'My name is Vusal Gasimov'

In [ ]:
name_2(last_name='Gasimov', 'Vusal')
# if you enter positinal argument (last_name='Gasimov'), you cannot add keyword argument ('Vusal')

SyntaxError: positional argument follows keyword argument (752759164.py, line 1)

In [44]:
name_2('Gasimov', first_name='Vusal')

TypeError: name_2() got multiple values for argument 'first_name'

In [ ]:
def name_3 (first_name, last_name, oglu='Vusal'):
    return f'My name is {first_name} {last_name} {oglu} oglu'

In [48]:
name_3('Royal', 'Gasimov')

'My name is Royal Gasimov Vusal oglu'

In [ ]:
# default parameter has not be at the end
# positional argument cannot follow the keyword argument
# non-default argument cannot follow the default argument
def name_3 (first_name, last_name='Gasimov', oglu):
    return f'My name is {first_name} {last_name} {oglu} oglu'

SyntaxError: parameter without a default follows parameter with a default (4249192460.py, line 3)

In [50]:
def name_4 (first_name, last_name='Gasimov', ata='Vusal', oglu='oglu'):
    return f'My name is {first_name} {last_name} {ata} {oglu}'

In [51]:
# the following function takes 5 inputs and provides the off number of the input list
def odd_nums(a, s, d, f, g):
    odd_list = []
    for i in a, s, d, f, g:
        if i % 2 == 1:
            odd_list.append(i)
    return odd_list

In [52]:
odd_nums(2, 3, 1, 82, 98)

[3, 1]

In [53]:
# the following function takes 5 inputs and provides the off number of the input list
def odd_nums_2(num_list):
    odd_list = []
    for i in num_list:
        if i % 2 == 1:
            odd_list.append(i)
    return odd_list

In [ ]:
odd_nums_2([2, 3, 1, 82, 98])

[3, 1]

## Arbitrary number of arguments(*argument, **keyword_argument)

In [ ]:
print(12, True, "str")
# print function expect positional argument

In [57]:
def odd_nums_3(*numbers):
    odd_list = []
    for i in numbers:
        if i % 2 == 1:
            odd_list.append(i)
    return odd_list

In [ ]:
# we can provide as many element as we want
odd_nums_3(1, 2, 3, 4, 5, 6, 7)

[1, 3, 5, 7]

In [63]:
# define a function that tales arbitrary inputs and sqaure the ven number
def odd_even(*numbers):
    odd_list = []
    even_list = []
    for i in numbers:
        if i % 2 == 1:
            odd_list.append(i * 2)
        else:
            even_list.append(i ** 2)
    return f'The double of odd numbers are: {odd_list}, double of the even numbers are: {even_list}'

In [ ]:
odd_even(1, 3, 2, 4, 6, 4, 8)

'The double of odd numbers are: [2, 6], double of the even numbers are: [4, 16, 36, 16, 64]'

In [ ]:
odd_even([1, 3, 2, 4, 6, 4, 8])
# python is tring to check if the entire list is even or odd
# it does not look at the each element of the list

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [68]:
# add * at the beggining of element
# by adding the * before the collection, we are telling that check the elements inside it
odd_even(*[1, 3, 2, 4, 6, 4, 8])

'The double of odd numbers are: [2, 6], double of the even numbers are: [4, 16, 36, 16, 64]'

In [69]:
odd_even(*range(2, 10))

'The double of odd numbers are: [6, 10, 14, 18], double of the even numbers are: [4, 16, 36, 64]'

In [70]:
def sq_double(*numbers):
    list = [(i*2) if i %2 == 1 else i**2 for i in numbers]
    return list

In [71]:
sq_double(2, 4, 2, 5, 7, 12)

[4, 16, 4, 10, 14, 144]