In [1]:
subject = "Math"
grade = "A"
print(f'Subject: {subject} and the Grade is : {grade}')

Subject: Math and the Grade is : A

In [ ]:
y = True
5/float(y)
# 5/1.0
# the result of every division operation is always in float data type

5.0

In [4]:
int(5/float(y))

5

In [ ]:
z = '6.7'
result = int(z) + float(False)
# error, you cannot convert '6.7' to int
# because its float
# you can convert String to int it String only contains int

ValueError: invalid literal for int() with base 10: '6.7'

In [10]:
# you need to convert it float first
result = int(float(z)) + float(False)
print(result)

6.0

In [11]:
print('a', 'b', """c""", sep='-', end="$$$")

a-b-c$$$

In [12]:
print("Yellow", sep='---')
print("Brown", 'Blue', end="%")
print('Black', sep="colors", end=".")

Yellow
Brown Blue%Black.

In [15]:
# r will treat the entire string as 1 string, will print whatever inside the string as it is
print(r"Hello''' /\@#44 World")

Hello''' /\@#44 World

In [ ]:
('ankara' or not 'Istanbul' and not 0 and not '') or not(True and 679 or '')
# if the first operation is or, it will return the first truthy value which is "Ankara"

'ankara'

In [17]:
not 0 and "Hello" or True and not 90 or "Bye" and False

'Hello'

In [ ]:
color = "Magnet"
print(color)

In [ ]:
lecture = "Python Programming"
lecture[-2:-8]
# in slicing operations, if the step if not provided, it will take the default value which is 1

''

In [20]:
'techpro'.upper()

'TECHPRO'

In [ ]:
'hello123'.isalnum()
# .isalnum() checkes is value has alphabethic and numeric value

True

In [ ]:
'hello123@@'.isalnum()
# it has alphabethic, numeric, and special char

False

In [23]:
'hello dear friends'.replace('r', "R", 1)
# number or count not the index or char you want to replace

'hello deaR friends'

In [24]:
'hello dear friends'.find('r')
#find the index

9