# Comparison Operators

In [ ]:
# bigger than operator
5 > 4
# result if True

False

In [2]:
# smaller than operator
5 < 4
# result if False

False

In [3]:
# Equal to
4 == 4

True

In [4]:
# not equal to
3 != 3
#False

False

In [7]:
65 == '65'

False

# Logical Expressions

### order of operation:
1. not -> opposit
2. and -> is perfectionist, it searcher for somthing falsy (error). Also can be consuder as multiplication
3. or -> is optimist, it searches for somthing truthy (good). can be considered as addition operation.

In [2]:
not True

False

In [3]:
not "Hello"
# "Hello" is True

False

In [4]:
not 0
# True

True

In [5]:
True and True and 1 and "Hello"
# and operator returns the first falsy value it encounters
# otherwise it returns the last value if all are truthy

'Hello'

In [ ]:
False and True and 0
# it will return the first falthy element

False

In [ ]:
False or True or "Hello" or 0 or True
# it will return the first truthy value

True

In [ ]:
0 or False or "" or 0.0
# it will return first truthy or last falthy element

0.0

In [ ]:
0 or 232 or False or [] or '' or 0.0 or True
# it will return the first truthy value, which is 232

232

In [9]:
"Computer" and "Science"

'Science'

In [10]:
"Computer" or "Science"

'Computer'

### Order
not > and > or

In [ ]:
False and True or not 0
# first not operation -> False and True or True
# second and operation -> False or True

True

In [ ]:
True and False or 0
# first and operation -> False or 0
# or will look first truthy, if there is no truthy value, it will select last Falthy value

0

In [11]:
True and 4 and not 0 or 'techpro' or not ''

True

In [12]:
('Ankara' or 'istanbul' and 0 and not '') or not (True and 674 or '')

'Ankara'

In [16]:
"Canan" and None or 4

4

In [19]:
None and "One"

In [ ]:
'guzel bir gun' or not(False) and not ('5' and not(not(8)) and 0)
# because first operation is or, it will choose the first truthy value
# first truthy value is 'guzel bir gun', answer will be 'guzel bir gun'

'guzel bir gun'

# input()
input function is used to take value or data from the user to computer

In [ ]:
input('what is your name?')
# answer will be takes as String

'My name is blabla'

In [22]:
# assign the input to variable
name = input("Your name is?")

In [23]:
print(name)

Vusal

In [27]:
# convert the string to int
age = int(input("Your age is:"))

In [28]:
age

26

In [32]:
# ask age variable from the user using input and calculate the year of birth
print("Welcome ro the birth year calculator!")
print("Please enter your age")
new_age = int(input("Type your age"))
print("Your age is", new_age)
birth_year = print("Your birth year is:", 2025 - new_age)

Welcome ro the birth year calculator!
Please enter your age
Your age is 30
Your birth year is: 1995

In [ ]:
# ask user for thier weight in kg and hight in meter and clculate their BMI
print("Welcome to BMI calculator")
weight = int(input("Enter weight in kg"))
hight = float(input("Enter your hight in meter"))
bmi = weight / hight** 2
print(f"Based on your {weight} kg weight and {hight} meter hight, your BMI is: {bmi}")

Welcome to BMI calculator
Based on your 70 kg weight and 1.6 meter hight, your BMI  is: 27.343749999999996