# print ()

- show the output
- the default separator is a single space, python eperates different arguments with signle space

## sep = ""

In [ ]:
# show output with ** inbetween them
# sep = "***"
print("vusal", "royal", 'dilshad', sep="***")

vusal***royal***dilshad

In [ ]:
# seperate with special char
print("vusal", "royal", 'dilshad', sep="\U0001F911")

vusalðŸ¤‘royalðŸ¤‘dilshad

## end=""

- python end the print funtions with new line
- if you have 2 print function, by defult, it will end first function with new line

In [ ]:
# by adding end="", you can start the next print function with specific char
print("vusal", end="-")
print("hello world")
print("new line")

vusal-hello world
new line

In [4]:
print("vusal", "royal", 'dilshad', sep="!!", end="$$$")
print("vusal", "royal", 'dilshad', sep="\U0001F911")

vusal!!royal!!dilshad$$$vusalðŸ¤‘royalðŸ¤‘dilshad

In [6]:
# is variable types are different inside of string, each element needs to be seperated with comma
print("hello" 23 , "world")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (303693363.py, line 2)

In [7]:
# if variable types inside of print() function are String, python will concatenate them
print("hello" "world" "!")

helloworld!

In [ ]:
print('Laptop,, ' 'Compiter,' 'Laptop,', sep="^^^", end="***")
# python concatenates them because there is no comma, tpyhon sees them as 1 element
# sep="^^^" will not added between string because there is no comma

Laptop,, Compiter,Laptop,***

# f String
- f string is a formatted string, it allows us to embed expressions and varaiables inside string literals using {}

In [9]:
name1 = "Gasimov"
name2 = "Demir"
name3 = "Vusal"
print(name1, name2, name3)

Gasimov Demir Vusal

In [12]:
age = 25
print(f' {name3}, {name1}, and, {name2}, are find and they are, {age}, years old')

 Vusal, Gasimov, and, Demir, are find and they are, 25, years old

# format()

In [15]:
# .format()
name = "Vusal"
age = "30"
job = "QA engineer"
print("My name is {}. I am {} years old and I am a {}".format(name, age, job))

My name is Vusal. I am 30 years old and I am a QA engineer

In [17]:
# .format()
name = "Vusal"
age = "30"
job = "QA engineer"
print("My name is {2}. I am {1} years old and I am a {0}".format(job, age, name))

My name is Vusal. I am 30 years old and I am a QA engineer

# Excape Sequences

In [ ]:
print('I'm an ml engineer')

In [ ]:
# ' is a special char, that opens and closes a string, to include it in a string we need to escape
# \ is an excape char, it allows us to include special char in a string
print('I\'m and ML engineer')

I'm and ML engineer

In [ ]:
# if you want the print function to print multiple string in different line, use three double quotes """" """"
print("""My name is Vusal
      I am a QA engineer
      I am studying data science
      I love python""")

My name is Vusal
      I am a QA engineer
      I am studying data science
      I love python

In [ ]:
# if you add the \n to string. It will break it and print it in new line
print("My name is Vusal. \n I am a QA engineer. \n I am studying data science. I love python")

My name is Vusal.
 I am a QA engineer.
 I am studying data science. I love python

In [ ]:
# \t is a tab character, it allows us to add the tab (multiple spaces) between chars
print("tech pro \t edd")

tech pro 	 edd

In [ ]:
# \b is backspace, it will delete the previoud char
print("techpro\b edd")

techpr edd