In [22]:
city = 'Baku'
plateNum = '10 - VG - 1001'
print(city + ' ' + plateNum)

Baku 10 - VG - 1001

In [17]:
print("dsfnknsadf'")

dsfnknsadf'

In [18]:
print(""" hello
      world
      new
      line """)

 hello
      world
      new
      line

In [19]:
# ' -> single quotes
# " -> double quotes
# / -> slash
# : -> colon
# ; -> semi colon
# - -> dash
# -> use ''' or """" 
# Heading 1


# Heading 1
## Heading 2
### Heading 3
#### Heading 4
##### Heading 5
###### Heading 6

In [10]:
print(''' hello
      world
      new
      line ''')

 hello
      world
      new
      line

In [8]:
print(''#error

_IncompleteInputError: incomplete input (3902156870.py, line 1)

In [3]:
print('Hello World')

Hello World

In [2]:
4 + 5

9

In [1]:
4+5

9