In [ ]:
_name_1 = 'melisa' # works
3_name = 'yasin' #fail, variable cannot start with nnumber
name-4 = 'caylin' #error, - cannot be used
5.name = 'Ali' #error, cannot start with number
name$6 = 'selim' #error, cannot use symbol
first name = 'Belen'

In [ ]:
print("""I have a car'"""") # it will fail

In [ ]:
# code will fail because quote will started and ended, string between the quotes are not between qotes
print(""If there is a tea, there is no problem"")

# Type Conversion

- int() -> converts the data into integer
- str() -> to string
- float() -> to float
- bool() -> to boolean

In [14]:
age = 15
type (age)

int

In [13]:
# convert it temperarly
str(age)

'15'

In [12]:
# convert it perminantly
age = str(age)
type(age)

str

In [15]:
bread_price = 4.90
type(bread_price)

float

In [19]:
# convert float to string
bread_price = str(bread_price)

type(bread_price)

str

In [ ]:
# CANNOT convert String to intiger
# ERROR
first_Name = "Vusal"
first_Name = int(first_Name)

In [ ]:
# convert float to intiger
new_Price = 3.45
new_Price = int(new_Price)
print(new_Price)

3

In [ ]:
# CANNOT convert String to intiger if it contains dote
#ERROR
pi = '3.14'
int(pi)

In [ ]:
bool("Hello world")
# will return True

True

In [ ]:
bool("")
# will return False since its an empty string

False

In [ ]:
# can convert boolean to intiger
isPresent = True
int(isPresent)
# output will be 1
# True = 1 = 1.0

isFalse = False
int(isFalse)
# output will be 0
#False = 0 = 0.0

1

In [ ]:
# find birth year
age = 23
year = 2025
birthYear = year - age
birthYear

2002

# Aritmetic Operatiors

##### + -> add
##### -  -> subtraction
##### / -> division
##### * -> multiplication
##### ** -> exponientation
##### // -> floor division
##### % -> modulus , remainder

In [34]:
# exponientation
3 ** 2
# 9

9

In [ ]:
pow(3,3) # pow -> power
# 3 to power of 3
# 27

27

In [ ]:
8 % 2
# % -> remainder
# 8/2 = 4 remainder is 0

0

In [ ]:
9 % 2
# 9/2 = 4 remainder is 1

In [37]:
14 / 3

4.666666666666667

In [ ]:
14 //3 
# output is 4
# it will return division

4

In [ ]:
# I have $102
# each pencil is 12
# how many pencil can I buy?
102 // 12
# 8

8

In [ ]:
# after buying pencil, how much money we have left
102 % 12
# 6

6

In [ ]:
# find the root of number
25 ** (1/2) # -> 5.0
25 ** (0.5) # -> 5.0

5.0

# Order Of Operations
- parantheses
- exponientation
- multipilication or division
- addition or subtranction

In [ ]:
x = (4 + 2) ** (4 ** (1 * 2 / 2) / 2)
#      6    **  2    -> 6 to power of 2  = 36
print(x)

36.0

In [ ]:
x = (2 ** 3) * (5 * 2 + (2 * 6 / 3))
#      8     *  14 = 112
print (x)

112.0

In [46]:
# write the python code that find the circumfrence of a circle with radius 7. (find the area is r = 7)
# solve by defining a variable

raidus = 7
pi = 3.14
circumferance = 2 * pi * raidus
print("circumferance or a fircle is", circumferance)

circumferance or a fircle is 43.96

In [48]:
# write the code that find the hypotenuse of a right triangle with side 5 and side 12
side_1 = 5
side_2 = 12
hypotenuse = (side_1 ** 2 + side_2 ** 2) ** 0.5
print(hypotenuse)

13.0