### Practice

In [11]:
# Let's write a program that asks the user for their password to enter to 
# internet banking.

print('Welcome to TPEdu Online Banking Services.')
username = input("Please provide your username: ")
print(f"Welcome dear {username} user")
pass_user = input("Please enter your password!")
if pass_user == password:
    print("Welcome to internet banking.")
else:
    print("Your password doesn't match.")

Welcome to TPEdu Online Banking Services.
Welcome dear asdf user
Your password doesn't match.

In [12]:
expected_username = 'vusal'
expected_password = 'sadkjA12'

In [14]:
actual_username = input('Please enter your username')
actual_password = input('Please enter your password')
if expected_username == actual_username:
    if expected_password == actual_password:
        print('Welcome to the bank')
    else:
        print('Your password is incorrect')
else:
    print('User was not found')

Your password is incorrect

In [15]:
expected_username = 'vusal'
expected_password = 'sadkjA12'

In [18]:
actual_username = input('Please enter your username')
if expected_username == actual_username:
    actual_password = input('Please enter your password')
    if expected_password == actual_password:
        print('Welcome to the bank')
    else:
        print('Your password is incorrect')
else:
    print('User was not found')

Welcome to the bank

In [30]:
# create a bmi calculator and based on the bmi of users, write appropriate messages
print("Welcome to BMI Calculator program.")
height = float(input("Please provide your height in meters and in numeric format."))
weight = float(input("Please provide your weight in kg and in numeric format."))
bmi = weight/(height**2)
if bmi < 18.5:
    print(f"your body mass index is: {bmi}. you are underweight.")
elif 18.5 <= bmi < 25:
    print(f"your body mass index is: {bmi}. you are normal weight.")
elif 25 <= bmi < 30:
    print(f"your body mass index is: {bmi}. you are over weight.")
else:
    print(f"your body mass index is: {bmi}. you are obese")

Welcome to BMI Calculator program.
your body mass index is: 17.531044558071585. you are underweight.

In [ ]:
# HM2 take a number as an input from the user, if the number is divisible by 3 print 
# Tech,  if it is divisible by 5 print pro and if it is divisible by both, 
# print tech pro education.
num = int(input("Please provide a number to check it's divisibility by 3, 5 or both"))
if num % 3 == 0:
     print('Tech')
elif num % 5 == 0:
     print("pro")
elif num % 3 == 0 and num % 5 == 0:
     print("Techpro Educatoin")
else:
     print('The given number neither divisible by 3 nor divisible by 5')

# the code has flaws, errors, the order must be changed

Tech

In [40]:
num = int(input("Please provide a number to check it's divisibility by 3, 5 or both"))
if num % 3 == 0 and num % 5 == 0:
    print('Techpro Education')
elif num % 5 == 0:
    print("pro")
elif num % 3 == 0:
    print("Tech")
else:
    print('The given number neither divisible by 3 nor divisible by 5')

The given number neither divisible by 3 nor divisible by 5

# Lists
is a collection data type,, so the elements are any type of data like an int, a string, a boolean or a float or can also be a collection data type.

- mutable --> can be changed without assignment
- iterable --> elements can be reached or selected.

In [ ]:
[] # first way

[]

In [54]:
[True, 123, 'Hello', 34.0, [1, 2, 3]]
# each element is separated with a comma

[True, 123, 'Hello', 34.0, [1, 2, 3]]

In [2]:
list_data = [True, 123, 'Hello', 34.0, [1, 2, 3]]
list_data

[True, 123, 'Hello', 34.0, [1, 2, 3]]

In [3]:
type(list_data)

list

In [ ]:
list() 
# we can create lists using the list function and it only takes iterable data.

[]

In [57]:
list('hello') # string is an iterable data.

['h', 'e', 'l', 'l', 'o']

In [5]:
list(2323) # int is not an iterable data, it will fail

TypeError: 'int' object is not iterable

In [ ]:
list(True) # boolean is not an iterable data

TypeError: 'bool' object is not iterable

In [ ]:
names_001 = ['rovshen', 'kateryna', 'ebrunur', 'fierro', 'vusal']
names_001

['rovshen', 'kateryna', 'ebrunur', 'fierro', 'vusal']

In [6]:
person1 = ['Vusal', 29, 'New York', 'Data Scientist', 120000, False, 12.89]
person1

['Vusal', 29, 'New York', 'Data Scientist', 120000, False, 12.89]

In [8]:
len(person1)

7

In [3]:
person2 = ['Vusal', 29, 'New York', 'Data Scientist', 120000, False, [1, 2, 3]]
person2

['Vusal', 29, 'New York', 'Data Scientist', 120000, False, [1, 2, 3]]

In [4]:
len(person2)

7

In [5]:
len('hello')

5

In [ ]:
len(425) # they don't have elements, or items, and are not iterable.

TypeError: object of type 'int' has no len()

In [ ]:
len(True) # they don't have elements, or items, and are not iterable data types.

TypeError: object of type 'bool' has no len()

In [8]:
# by iterable we mean, the elements can be reached for example with indexing
'hello'[0]

'h'

In [9]:
123211[0]

<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
C:\Users\jawed\AppData\Local\Temp\ipykernel_15140\1487017242.py:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  123211[0]

TypeError: 'int' object is not subscriptable

In [10]:
True[0]

<>:1: SyntaxWarning: 'bool' object is not subscriptable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'bool' object is not subscriptable; perhaps you missed a comma?
C:\Users\jawed\AppData\Local\Temp\ipykernel_15140\128037089.py:1: SyntaxWarning: 'bool' object is not subscriptable; perhaps you missed a comma?
  True[0]

TypeError: 'bool' object is not subscriptable

In [10]:
my_list = ['nikola', 26, 'data scientist', True, 12.09, [False, 'Hello', 1212]]
my_list

['nikola', 26, 'data scientist', True, 12.09, [False, 'Hello', 1212]]

In [12]:
len(my_list)

6

In [13]:
# lists are iterable, so we can reach it's elements.
my_list[0]

'nikola'

In [11]:
my_list[-1]

[False, 'Hello', 1212]

In [15]:
my_list

['nikola', 26, 'data scientist', True, 12.09, [False, 'Hello', 1212]]

In [16]:
my_list[2]

'data scientist'

In [12]:
my_list[2][5]
# first, it will choose the element in index [2], which is 'data scientist'
# then it will choose the element on index [5] which is s

's'

In [ ]:
my_list[-1] # choose the last element

[False, 'Hello', 1212]

In [13]:
my_list[-1][1]
# my_list[-1] will return the last element which is [False, 'Hello', 1212]
# then it will return the element on index [1] which is 'Hello

'Hello'

In [20]:
my_list[-1][1][-1]

'o'

In [21]:
my_list

['nikola', 26, 'data scientist', True, 12.09, [False, 'Hello', 1212]]

In [22]:
my_list[1]

26

In [ ]:
my_list[1][1]
# because the selected element of the list is an integer and they are not iterable

TypeError: 'int' object is not subscriptable

In [ ]:
# concatenation in lists.
[1, 2, 3] + [4, 5]

[1, 2, 3, 4, 5]

In [ ]:
[1, 2, 3] * 2
# contatinating same list twice

[1, 2, 3, 1, 2, 3]

In [26]:
my_list

['nikola', 26, 'data scientist', True, 12.09, [False, 'Hello', 1212]]

In [27]:
my_list[1:]

[26, 'data scientist', True, 12.09, [False, 'Hello', 1212]]

In [28]:
my_list[1:4]

[26, 'data scientist', True]

In [29]:
my_list[::2]

['nikola', 'data scientist', 12.09]

In [ ]:
# mutable, opposite of string which was immutable, not changable
name = 'techpro education'
name[1] = 'E' # strings are immutable.

TypeError: 'str' object does not support item assignment

In [15]:
name = 'techpro education'
name = 'tEchpro education'
name

'tEchpro education'

In [34]:
my_list

['nikola', 26, 'data scientist', True, 12.09, [False, 'Hello', 1212]]

In [16]:
my_list[2] = 'ML Engineer' # mutable data types
my_list

['nikola', 26, 'ML Engineer', True, 12.09, [False, 'Hello', 1212]]

In [18]:
my_list[-1][1] = 'Hi'
my_list

['nikola', 26, 'ML Engineer', True, 12.09, [False, 'Hi', 1212]]

## List Operations

### append

In [19]:
# adds an element at the end of the list
list2 = ['a', 'b', 1, 2, True, False]
list2.append('new string appended')
list2

['a', 'b', 1, 2, True, False, 'new string appended']

In [21]:
list2.append('hi')
# if we run it multiple times, the element will be appended that many times
list2

['a', 'b', 1, 2, True, False, 'new string appended', 'hi', 'hi']

In [22]:
list2.append(12)

list2

['a', 'b', 1, 2, True, False, 'new string appended', 'hi', 'hi', 12]

In [ ]:
list2.append(12, 12)
# the append operation of list, takes only one element or argument.

TypeError: list.append() takes exactly one argument (2 given)

In [53]:
list2

['a', 'b', 1, 2, True, False, 'new string appended', 'hi', 'hi', 12]

In [32]:
list2.append([12, 12])
# an entire list can be considered as one element.
list2

['a', 'b', 1, 2, True, False, 'new string appended', 'hi', 'hi', 12, [12, 12]]

### insert

adds an element in a specific index or address

In [47]:
names_001 = ['rovshen', 'kateryna', 'ebrunur']
names_001

['rovshen', 'kateryna', 'ebrunur']

In [48]:
names_001.insert(1, 'vusal')
names_001

['rovshen', 'vusal', 'kateryna', 'ebrunur']

In [49]:
names_001.insert(-1, 'fierro')
names_001

['rovshen', 'vusal', 'kateryna', 'fierro', 'ebrunur']

In [50]:
# if you want to add an element at the end of a list using insert operation,
# there is a shortcut to it, use len(list) as index.
names_001.insert(len(names_001), 'nikola')
names_001

['rovshen', 'vusal', 'kateryna', 'fierro', 'ebrunur', 'nikola']

In [51]:
names_001.insert(12, "new")

In [52]:
names_001

['rovshen', 'vusal', 'kateryna', 'fierro', 'ebrunur', 'nikola', 'new']

In [53]:
names_001.insert(100, 'nikola')
names_001

['rovshen',
 'vusal',
 'kateryna',
 'fierro',
 'ebrunur',
 'nikola',
 'new',
 'nikola']

In [54]:
names_001.insert(2, 5)
names_001

['rovshen',
 'vusal',
 5,
 'kateryna',
 'fierro',
 'ebrunur',
 'nikola',
 'new',
 'nikola']

In [55]:
names_001.insert(1, [5, 3, 6])
names_001

['rovshen',
 [5, 3, 6],
 'vusal',
 5,
 'kateryna',
 'fierro',
 'ebrunur',
 'nikola',
 'new',
 'nikola']

### remove
- it will remove a specified element and is not related to index

In [56]:
numbers = [1, 2, 4 ,3 ,7, 8]
numbers

[1, 2, 4, 3, 7, 8]

In [57]:
numbers.remove(2)

numbers

[1, 4, 3, 7, 8]

In [62]:
numss = [1, 2, 2, 3, 3, 4, 5, 1, 7, 7, 8, 6, 5, 67]
numss

[1, 2, 2, 3, 3, 4, 5, 1, 7, 7, 8, 6, 5, 67]

In [63]:
numss.remove(1)
numss
# as this cell was run 3 times, in first two times it removed two 1s and in the third 
# time it couldn't find another one

[2, 2, 3, 3, 4, 5, 1, 7, 7, 8, 6, 5, 67]

In [65]:
numss.remove(1)
numss
# as this cell was run 3 times, in first two times it removed two 1s and in the third 
# time it couldn't find another one

ValueError: list.remove(x): x not in list

In [ ]:
names_001

['rovshen',
 [5, 3, 6],
 'vusal',
 5,
 'kateryna',
 'fierro',
 'ebrunur',
 'nikola',
 'nikola']

In [66]:
names_001.remove('nikola')
names_001

['rovshen',
 [5, 3, 6],
 'vusal',
 5,
 'kateryna',
 'fierro',
 'ebrunur',
 'new',
 'nikola']

### pop
it removes an element from last

In [67]:
names_001

['rovshen',
 [5, 3, 6],
 'vusal',
 5,
 'kateryna',
 'fierro',
 'ebrunur',
 'new',
 'nikola']

In [68]:
names_001.pop()
# remove the element from the end of the list

names_001

['rovshen', [5, 3, 6], 'vusal', 5, 'kateryna', 'fierro', 'ebrunur', 'new']

In [70]:
names_001.pop()
names_001
# run two times, last two elements were removed

['rovshen', [5, 3, 6], 'vusal', 5, 'kateryna', 'fierro']

In [71]:
# you can specify the index
# by default, it removes the element index [-1]
names_001.pop(1)
names_001

['rovshen', 'vusal', 5, 'kateryna', 'fierro']

### clear

it clears out the entire list.

In [72]:
names_001

['rovshen', 'vusal', 5, 'kateryna', 'fierro']

In [77]:
names_001.clear()

names_001

[]

In [80]:
numbers = '1234'

In [81]:
# once a variable is deleted, it is no longer stored in the memory
del numbers

In [ ]:
# if you enter del twice, it will show error because it no longer exists
del numbers

NameError: name 'numbers' is not defined

### count

it tells how many times an element has been repeated in a list

In [82]:
numss

[2, 2, 3, 3, 4, 5, 7, 7, 8, 6, 5, 67]

In [83]:
numss.count(11)

0

In [93]:
a = [12, 23, 432, 21, 76, 45, 45, 12, 34]
a.count(12)

2

In [ ]:
names_001 = ['nikola', 'kateryna', 'kateryna', 'rovshen', 'ebrunur', 'ebrunur']
names_001

['nikola', 'kateryna', 'kateryna', 'rovshen', 'ebrunur', 'ebrunur']

In [ ]:
names_001.count("nikola")

1

In [ ]:
names_001.count("vusal")

0

In [85]:
compl = ['', 0, 0.0, True, 1, False, 1.0, 'Hello']
compl

['', 0, 0.0, True, 1, False, 1.0, 'Hello']

In [ ]:
compl.count(True)
# True, 1, and  1.0 == True

3

In [ ]:
compl.count(0)
# 0 == 0, 0.00, False

3

In [ ]:
# True, 1 and 1.0 are the same thing, expressed in different ways, the value they
# have are same, that's why they are considered as same, the same thing goes for
# 0 and 0.0 and False

In [87]:
compl.count(0, 1)
# count() only takes one argument

TypeError: list.count() takes exactly one argument (2 given)

### sort

sorts out the data

In [88]:
numbers = [21, 12, 23, 0, -90, 87, True]
numbers

[21, 12, 23, 0, -90, 87, True]

In [89]:
numbers.sort()
numbers
# by default from smallest to largest, in ascending order

[-90, 0, True, 12, 21, 23, 87]

In [90]:
numbers.sort(reverse=True)
numbers
# sort in descending order, meaning from largest to smallest

[87, 23, 21, 12, True, 0, -90]

In [91]:
names_001

[]

In [ ]:
names_001.sort()
names_001

['ebrunur', 'ebrunur', 'kateryna', 'kateryna', 'nikola', 'rovshen']

In [ ]:
names_001.sort(reverse=True)
names_001

['rovshen', 'nikola', 'kateryna', 'kateryna', 'ebrunur', 'ebrunur']

In [128]:
compl

['', 0, 0.0, True, 1, False, 1.0, 'Hello']

In [ ]:
compl.sort()
# sort operation only works when a list has similar data types

TypeError: '<' not supported between instances of 'int' and 'str'