# Dictionary

A member of collection types. One of the most important topics we have seen so far

- Store items in key-value paris
- mutable (changable)
- iterable -> elements can be stores or reached
- unordered - not stored as particular order
- indexed is performed with keys
- key should be unique
- key cannot be a mutable data type like list or dictionary because key is unique but mutable data can be changable

In [3]:
# key has to be unique
dict1 = {
    'Vusal': 31,
    'Fierro': 28
}
dict1

{'Vusal': 31, 'Fierro': 28}

In [4]:
student_1 = {"name": "Vusal", 'age': 23, "job": "data scientist", "hobbies": ['coding', "reading book"]}
student_1

{'name': 'Vusal',
 'age': 23,
 'job': 'data scientist',
 'hobbies': ['coding', 'reading book']}

In [6]:
student_1.items()

dict_items([('name', 'Vusal'), ('age', 23), ('job', 'data scientist'), ('hobbies', ['coding', 'reading book'])])

In [7]:
len(student_1)

4

In [8]:
student_1.keys()

dict_keys(['name', 'age', 'job', 'hobbies'])

In [9]:
student_1.values()

dict_values(['Vusal', 23, 'data scientist', ['coding', 'reading book']])

### second way of creating dictionary

In [12]:
student_2 = dict(name = "Vusal", surname = 'Gasimov')
student_2

{'name': 'Vusal', 'surname': 'Gasimov'}

In [ ]:
# lists, tuples, and strings are ordered data types
('str', 'int', 'usa')

In [15]:
student_1[0]
# because dictionery does not have order, you cannot reach the element

KeyError: 0

In [20]:
student_1['hobbies']
# you can get the elements by providing a key

['coding', 'reading book']

In [21]:
dict2 = {"city":input("please provide your city")}
dict2

{'city': 'Baku'}

In [24]:
dict3 = {"name": "vusal", "name": "fierro"}
dict3 
# key is not unique, 2 elements cannot have same key
# because key is not uniqeue, paython think we are assgning new value to key 'name'

{'name': 'fierro'}

In [25]:
# key must be immutable data liek int, tuple, bool float
# it cannot be a list or dictionary
# value can be anything

In [26]:
dict5 = {1:1, True:False, 2.3:4.3, "hello":"bye", (123, 23):(23, 65)}
dict5

{1: False, 2.3: 4.3, 'hello': 'bye', (123, 23): (23, 65)}

In [27]:
dict6 = {1:[4, 3, 6], True:{21: True, 12:False}}
dict6
# 2 elements cannot have same key. 1 and True are the same
# because of that, python takes the second value

{1: {21: True, 12: False}}

In [28]:
# key cannot be a mutable data type like list or dictionary
# because keys are supposed to be unique, so we cannot change them
# they are not supposed to be changable
dict6 = {[1, 4, 5]:True}
dict6

TypeError: unhashable type: 'list'

In [29]:
dict7 = {{1:2}:False}
dict7

TypeError: unhashable type: 'dict'

In [30]:
dict8 = dict(one = 1, two = 2)
dict8
# while creating a dictionary using thee dict function with maping method,
# the key has to be a variable, so the key cannot be a number

{'one': 1, 'two': 2}

In [32]:
dict9 = dict(43 = 1, 21 = 2)
dict9

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3330546543.py, line 1)

In [34]:
dict10 = dict('43' = 1, '21' = 2)
dict10

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2717878492.py, line 1)

In [39]:
name_list = [['student1', 'vusal'], ['student2', 'fierro']]
# each element is a list, it can be converted to dict
dict(name_list)

{'student1': 'vusal', 'student2': 'fierro'}

In [40]:
name_list = [['student1', 'vusal', 'student3', 'royal'], ['student2', 'fierro']]
# when you are converting the list to dic, you cannot have more than 2 element, 1 key and 1 value
dict(name_list)

ValueError: dictionary update sequence element #0 has length 4; 2 is required

In [37]:
name_list2 = [('student1', 'vusal'), ('student2', 'fierro')]
# each element is a tuple, it can be converted to dict
dict(name_list2)

{'student1': 'vusal', 'student2': 'fierro'}

#### dictionry is mutable (changable)

In [41]:
numbers = {'odd':3, "even":4}
# need to provide a key to change the element
numbers['even'] = 14
numbers

{'odd': 3, 'even': 14}

#### no concatenation in dictionary

In [46]:
{'name': True} + {'name2':False}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

## operations on dictionary

### udate
- used to a new element of dictionary
- accept a dictionary as a new item or element
- can change or update the value of a dic item

In [42]:
brand = {
    'brand1': 'apple',
    'brand2': 'samsung',
    'brand3': 'google'
}
brand

{'brand1': 'apple', 'brand2': 'samsung', 'brand3': 'google'}

In [43]:
brand.update({'brand5': 'HP'})
brand

{'brand1': 'apple', 'brand2': 'samsung', 'brand3': 'google', 'brand5': 'HP'}

In [44]:
new_brand = {'brand4': 'MSI', 'brand6': 'dell'}
brand.update(new_brand)
brand

{'brand1': 'apple',
 'brand2': 'samsung',
 'brand3': 'google',
 'brand5': 'HP',
 'brand4': 'MSI',
 'brand6': 'dell'}

In [45]:
brand.update({'brand5': "assus"})
brand

{'brand1': 'apple',
 'brand2': 'samsung',
 'brand3': 'google',
 'brand5': 'assus',
 'brand4': 'MSI',
 'brand6': 'dell'}

#### pop
- used to remove or delete an item from dict
- it requires a key

In [50]:
dict10 = {'student1': 'nik', 'student2': 'nazli'}
dict10.pop('')
# it requires a key, it is not like a lost
# it will not remove the last one
# because dic it NOT ordered, it cannot find he last element like in a list

KeyError: ''

In [51]:
dict10.pop('student1')
dict10

{'student2': 'nazli'}

#### clear
- removes all the element from dict
- return empty dict

In [52]:
dict10.clear()
dict10

{}

#### delt
- completly deletes the dic from memory
- it will no longer available

In [53]:
del dict10

## nested dictionary

In [56]:
my_family = {
    'wife': {'name':'dilshad', 'birthday':'march', 'job':'psychologiest'},
    'child': {'royal': ['child', 0.5]},
                'mesures':[0.5, 23],
}
my_family

{'wife': {'name': 'dilshad', 'birthday': 'march', 'job': 'psychologiest'},
 'child': {'royal': ['child', 0.5]},
 'mesures': [0.5, 23]}

In [57]:
my_family['wife']['birthday']

'march'

In [58]:
my_family['child']['royal'][0]

'child'

## Ask Python is data is present or not

In [60]:
5 in [1, 2, 3, 4]
# asking if the data is present

False

In [62]:
1 not in [4, 54, 32]
# asking if the data is not present

True

In [63]:
'e' in 'hello'

True

In [64]:
'name' in my_family
# 'name' is not a key of my_family, its inside the key 'wife'

False

In [70]:
my_family['wife'].values()

dict_values(['dilshad', 'march', 'psychologiest'])

In [67]:
'name' in my_family['wife']
# 'name' is inside the key 'wife

True

In [68]:
'dilshad' in my_family['wife']
# in dictionary, it only searches among the keys

False

In [69]:
'dilshad' in my_family['wife'].values()

True

In [66]:
['child', 0.5] in my_family
# cannot search for a mutable data

TypeError: unhashable type: 'list'