# Sets

- elements are unique or not repetetive
- unordered hence no index
- mutable
- iterable

In [ ]:
# first way creating set
# use {}
# you must provide more than 1 element otherwise python will think its dictionary
variable_1 = {}
type(variable_1)

dict

In [10]:
variable = {'mine', 'fierro', 'vusal'}
variable
# unordered

{'fierro', 'mine', 'vusal'}

In [ ]:
print(set('adbullah'))
# even though we have 2 a and 2 l, it will return single
# elements in set are unique
# it does not repate the element twice
# elements are mixed as sets are unordered

{'a', 'd', 'u', 'l', 'b', 'h'}

In [ ]:
set([1, 2.0, True, 'hello world'])
# lists are iterable data, we can create sets out of them
# True and 1 are equal so they do not repeat

{1, 2.0, 'hello world'}

In [ ]:
set((False, 'hello world', 2, 0.0))
# False and 0.0 are same things so they do not repeat

{2, False, 'hello world'}

In [13]:
{1, 2.0, False, {1, 2, 3}}
# set is mutable data hence cannot be an element

TypeError: unhashable type: 'set'

In [14]:
{1, 2.0, False, {'true': 3}}
# dictionary is mutable data hence cannot be an element

TypeError: unhashable type: 'dict'

In [16]:
# how to create an empty set
empty_set = {}
print(empty_set)
print(type(empty_set))
# {} this is a deault symbol for dictionary

{}
<class 'dict'>

In [18]:
empty_set_1 = set()
print(empty_set_1)
print(type(empty_set_1))
# {} this is a deault symbol for dictionary

set()
<class 'set'>

In [19]:
b = {'Vusal'}
type(b)

set

In [24]:
# it has not iterable
# following will fail
failed_set = set(True)
failed_set =  set(1234)

TypeError: 'bool' object is not iterable

In [ ]:
# set() if breaking down the element
# you cannot enter bollean, int, or loaf data types
# we cannot break them
failed_set = set('vusal', 1, True)
type(failed_set)

TypeError: set expected at most 1 argument, got 3

In [ ]:
# we are not breaking them
failed_set_4 = {True}
type(failed_set_4)

set

In [33]:
a = {'a': 'b', 'c': 'd'}
print(a)
type(a)

{'a': 'b', 'c': 'd'}

dict

In [35]:
set(a)
# it only selects keys

{'a', 'c'}

In [36]:
a.items()
# becuase a is a dictionary, i CAN INSPECT ITS ITEMS OR ELEMENTS

dict_items([('a', 'b'), ('c', 'd')])

In [37]:
set(a.items())

{('a', 'b'), ('c', 'd')}

In [38]:
# no concatination in set
{1, 2, 3} + {4, 5, 6}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [39]:
{1, 2, 3}[0]
# there is no order, we cannot get the element

<>:1: SyntaxWarning: 'set' object is not subscriptable; perhaps you missed a comma?
/var/folders/ql/6jtsbr19249bjfqdx_b2n8640000gn/T/ipykernel_13110/1671953569.py:1: SyntaxWarning: 'set' object is not subscriptable; perhaps you missed a comma?
  {1, 2, 3}[0]

TypeError: 'set' object is not subscriptable

In [ ]:
# checking if sets are iterable
len({1, 2, 3, 4, 5})
# set is iterable as the elements can be reached an counted

5

In [41]:
# checking if sets are iterable
tuple('asdsadfdas')
# a function like a list that only takes iterable data inside it

('a', 's', 'd', 's', 'a', 'd', 'f', 'd', 'a', 's')

In [42]:
list(1234123)

TypeError: 'int' object is not iterable

In [43]:
list({1, 2, 3})
# proving that sets are iterable

[1, 2, 3]

#### Operations on set
- unnion
- intersections
- diff

##### union
- combineing
- .union()
- using |

In [44]:
A = set('vusal')
B = set('gasimov')
A.union(B)
# union means combine

{'a', 'g', 'i', 'l', 'm', 'o', 's', 'u', 'v'}

In [45]:
B.union(A)

{'a', 'g', 'i', 'l', 'm', 'o', 's', 'u', 'v'}

In [46]:
A | B

{'a', 'g', 'i', 'l', 'm', 'o', 's', 'u', 'v'}

##### intersection
- common elements that are present in both sets

In [ ]:
A.intersection(B)
B.intersection(A)
A & B

{'a', 's', 'v'}

##### difference
- elements are present on one but not other one
- find unique element on one set

In [ ]:
A.difference(B)
A - B
# elements are present at A but not B
# uncommen elements of A

{'l', 'u'}

In [ ]:
B.difference(A)
B - A
# elements are present at B but not A
# uncommen elements of B

{'g', 'i', 'm', 'o'}

#### finding uncomment element on both sets using fllowing 3 methods

In [54]:
(A - B) | (B-A)

{'g', 'i', 'l', 'm', 'o', 'u'}

In [55]:
(A | B) - (A & B)

{'g', 'i', 'l', 'm', 'o', 'u'}

In [56]:
A.symmetric_difference(B)

{'g', 'i', 'l', 'm', 'o', 'u'}

#### clear

In [59]:
C = {'Vusal Gasimov'}

In [60]:
C.clear()

In [61]:
C

set()

#### remove
- remove given element

In [69]:
D = set('royal gasimov')

In [70]:
D.remove('r')
D

{' ', 'a', 'g', 'i', 'l', 'm', 'o', 's', 'v', 'y'}

#### pop()
- randomly removes an element

In [72]:
D.pop()
D

{' ', 'g', 'i', 'l', 'm', 'o', 'v', 'y'}

#### add

In [73]:
D.add('K')
D

{' ', 'K', 'g', 'i', 'l', 'm', 'o', 'v', 'y'}

In [74]:
# .add() wrequires only one argument
D.add('k', 's')

TypeError: set.add() takes exactly one argument (2 given)

#### issubset()
- checks whether a set is a subset of another set
- A set for example A is a subset of another set for example B when all elemnts of set A is

In [75]:
X = set('selin')
Y = set('enes')

In [79]:
X

{'e', 'i', 'l', 'n', 's'}

In [80]:
Y

{'e', 'n', 's'}

In [ ]:
Y.issubset(X)
# all the elements of set is present in set A, set B is subset of set A
# Y is smaller one, X is bigger one

True

In [85]:
X.issubset(Y)
# subset is smaller set

False

In [86]:
X.issuperset(Y)

True

In [84]:
Z = set('Selin')
XZ = set('Enes')
XZ.issubset(Z)
# Z does not have 'E' or 's'

False