# Tuples

- itterable -> the elements can be reached or selected
- immutable -> the elements or the tuple itself cannot be changed once created

###differences between Tuples and List
- list is flexible, it makes it prone to problems
- tuples are not flexible but its more reliable

like a list, it is a collection data type, it needs at leat two elements or indication of multiple elements

In [2]:
# first way creating tuple
(12, 12.90, True, "vusal")

(12, 12.9, True, 'vusal')

In [ ]:
(12, 12.90, True, "vusal")

In [3]:
# second way creating tuple
tuple()
# you can create a tuple with this function but only from an iterable data

()

In [5]:
my_list = [12, False, "gasimov"]
tuple(my_list)
# because list is iterable data, I am able to create tuple from it

(12, False, 'gasimov')

In [6]:
tuple('Vusal Gasimov')

('V', 'u', 's', 'a', 'l', ' ', 'G', 'a', 's', 'i', 'm', 'o', 'v')

In [8]:
# third way creating a touple
a = 8,9
type(a)
# do not need to pu () on touple

tuple

#### tuple needs multiple elements
- cannot create a tuple with single element

In [9]:
b = (12)
type(b)

int

In [11]:
tuple(True)

TypeError: 'bool' object is not iterable

In [12]:
c = 8,
type(c)
# once you put a comma, it is considered as tuple

tuple

In [13]:
# concatenation in a tuple
(1,2,3)+ (4,5,6)

(1, 2, 3, 4, 5, 6)

In [14]:
(1,2,3) * 2

(1, 2, 3, 1, 2, 3)

In [15]:
(34, "vusal", False) + (True)
# () does not mean it is a tuple
# True is a single element, it does not have a comma ","

TypeError: can only concatenate tuple (not "bool") to tuple

In [16]:
(34, "vusal", False) + (True,)

(34, 'vusal', False, True)

## indexing and slicing

In [25]:
new_tuple = (False, 432, "vusal", [2, 4, 3], 0)
new_tuple

(False, 432, 'vusal', [2, 4, 3], 0)

In [21]:
new_tuple[-1]

[2, 4, 3]

In [22]:
new_tuple[2][3]

'a'

In [26]:
new_tuple[1:4]

(432, 'vusal', [2, 4, 3])

In [27]:
new_tuple[4:1:-1]

(0, [2, 4, 3], 'vusal')

In [29]:
imp_tuple = (1, -23, 90,9732, "str", [2, 4, 123], (True, False))
imp_tuple

(1, -23, 90, 9732, 'str', [2, 4, 123], (True, False))

In [30]:
imp_tuple[1] = "new"
# tuple is immutable, elements cannot be changed

TypeError: 'tuple' object does not support item assignment

In [35]:
str_tuple = (32, True, "vusal", "gasimov", [12, "string"])

In [36]:
str_tuple[2].upper()
# because selected element is string, I can perform string methods

'VUSAL'

In [40]:
str_tuple[-1][1] = "new string"
str_tuple

(32, True, 'vusal', 'gasimov', [12, 'new string'])

### tuple methods

- count
- index

In [41]:
imp_tuple

(1, -23, 90, 9732, 'str', [2, 4, 123], (True, False))

In [44]:
imp_tuple.count((True, False))

1

In [45]:
imp_tuple.index(-23)

1

# Range

- is a function
- creates a range of data
- needs functions like tuple or list to open
- it has start, stop, and step params

In [46]:
list(range(1, 10))
# 1 is start, 10 is stop

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
tuple(range(3, 10))

(3, 4, 5, 6, 7, 8, 9)

In [49]:
tuple(range(20, 10))
# because logic is similar to slicing operation, start cannot be bigger than stop

()

In [50]:
# if the start is bigger than stop, then step needs to be negative
tuple(range(20, 10, -1))

(20, 19, 18, 17, 16, 15, 14, 13, 12, 11)

In [52]:
list(range(200, 10, -30))

[200, 170, 140, 110, 80, 50, 20]

In [53]:
list(range(1.5, 101, 10))
# only works with integers

TypeError: 'float' object cannot be interpreted as an integer